
/*<link rel="stylesheet" type="text/css" href="standard_style.css">*/

            body{
                background-color: black;
                text-align: center;
                font-family: courier;
                color: white;
            }
            h1{
                background-color:black;
                color:white;
            }
            h3{
                color:#0000ff;
            }
            form{
                
                margin-left: 10px;
                margin-right: 10px;                                                
            }
            button{
                background-color:black;
                color:white;
                margin-top:10px;
                margin-bottom:10px;
            }     
            submit{
                margin-top:10px;
            }
            
            ul{
                text-align: left;
                list-style: none;
            }
            
            a{
                color:#0000ff;                
            }
            label{
                margin-top:10px;
            }





